.fetch_image_wrapper {
  position: relative;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
  height: 60%;
}

.fa-heart {
  position: absolute;
  z-index: 2;
  color: red;
  text-align: right;
  font-size: 25px;
  cursor: pointer;
  border: transparent;
  left: 300px;
  top: 20px;
  bottom: 10px;
}

.liked_image{
  margin-top: 20px;
}

.card-title {
  font-size: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.show__email{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.form_container {
  padding: 10px;
}
