.fetchImagesWrapper {
  position: relative;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
  height: 80%;
}

.fa-heart {
  position: absolute;
  z-index: 2;
  color: grey;
  text-align: right;
  font-size: 25px;
  cursor: pointer;
  border: transparent;
  left: 120px;
  top: 20px;
  bottom: 10px;
}

.fa-heart:hover {
color: red;
}